<div class="container mt-3 my-3 fw-bold" dir="ltr">
<div class="form-container">
  <h2 class="mb-6 font-24-bold text-center">Edit Profile</h2>
  <hr>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label for="firstName" class="form-label">Name <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
        <input type="text" id="firstName" class="form-control" placeholder="Name is required" formControlName="name">
      </div>
      <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="text-danger">
        <small *ngIf="f['name'].errors?.['required']">Name is required.</small>
        <small *ngIf="f['name'].errors?.['pattern']">Name must contain letters only.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" id="email" class="form-control" placeholder="Enter your email address" formControlName="email">
      </div>
      <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-danger">
        <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
        <small *ngIf="f['email'].errors?.['email']">Invalid email address.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="nationalId" class="form-label">National ID <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
        <input type="text" id="nationalId" class="form-control" placeholder="Enter National ID" formControlName="national_id">
      </div>
      <div *ngIf="f['national_id'].invalid && (f['nationalId'].dirty || f['nationalId'].touched)" class="text-danger">
        <small *ngIf="f['national_id'].errors?.['required']">National ID is required.</small>
        <small *ngIf="f['national_id'].errors?.['pattern']">Invalid National ID.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
        <select id="gender" class="form-select" formControlName="gender">
          @if(updateForm.value.gender == "Male"){
            <option selected value="Male">Male</option>
            <option value="Female">Female</option>
          }@else {
            <option value="Male">Male</option>
            <option selected value="Female">Female</option>
          }
        </select>
      </div>
      <div *ngIf="f['gender'].invalid && (f['gender'].dirty || f['gender'].touched)" class="text-danger">
        <small *ngIf="f['gender'].errors?.['required']">Gender is required.</small>
      </div>
    </div>
  
    <div class="mb-3">
      <label for="address" class="form-label">Detailed Address <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
        <input type="text" id="address" class="form-control" placeholder="Enter detailed address" formControlName="address">
      </div>
      <div *ngIf="f['address'].invalid && (f['address'].dirty || f['address'].touched)" class="text-danger">
        <small *ngIf="f['address'].errors?.['required']">Address is required.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-phone"></i></span>
        <input type="text" id="phone" class="form-control" placeholder="Enter phone number" formControlName="phone">
      </div>
      <div *ngIf="f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="text-danger">
        <small *ngIf="f['phone'].errors?.['required']">Phone number is required.</small>
        <small *ngIf="f['phone'].errors?.['pattern']">Invalid phone number.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="profilePicture" class="form-label">
        Upload Image <span class="text-danger">*</span>
      </label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-image"></i></span>
        <input type="file" id="image" class="form-control" formControlName="image">
      </div>
      <img [src]="currentImageUrl" width="150px" alt="not Found">
      <div *ngIf="f['image'].invalid && (f['image'].dirty || f['image'].touched)" class="text-danger">
        <small *ngIf="f['image'].errors?.['required']">Image is required.</small>
        <small *ngIf="f['image'].errors?.['pattern']">Please upload a valid image (PNG, JPG, JPEG).</small>
      </div>
    </div>

    <div class="d-flex">
      <button type="submit" class="btn main-btn rounded-5 ms-5 custom-button w-100">Edit Profile</button>
    </div>  
  </form>
</div>
