<div class="container mt-5" dir="ltr">
    <div class="form-container">
      <h2 class="mb-6 font-24-bold text-center">Reset Password</h2>
      <p class="text-center">Enter your email to reset your password</p>
      <div class="alert alert-danger" *ngIf="error">
          <p> {{ error }} </p>
      </div>
      <div class="alert alert-success" *ngIf="success">
          <p> {{ success }} </p>
      </div>
      <form
        class="reset-password-form"
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-3">
          <label for="email" class="form-label"
            >Email Address <span class="text-danger">*</span></label
          >
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Enter your email"
            />
          </div>
          <div
            *ngIf="
              formControls['email'].touched &&
              formControls['email'].invalid
            "
            class="text-danger"
          >
            <small *ngIf="formControls['email'].errors?.['required']"
              >Email is required.</small
            >
            <small *ngIf="formControls['email'].errors?.['email']"
              >Invalid email address.</small
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="national_id" class="form-label">National ID</label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              <input type="text" id="national_id" formControlName="national_id" class="form-control" placeholder="Enter your National ID">
          </div>
          <div *ngIf="formControls['national_id'].touched && formControls['national_id'].invalid" class="text-danger">
              <small *ngIf="formControls['national_id'].errors?.['required']" >National ID is required.</small>
              <small *ngIf="formControls['national_id'].errors?.['minlength']" >National ID must be at least 14 digits long.</small>
              <small *ngIf="formControls['national_id'].errors?.['maxlength']" >National ID must be no more than 14 digits long.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Enter your new password"
            />
          </div>
          <div
            *ngIf="
              formControls['password'].touched && formControls['password'].invalid
            "
            class="text-danger"
          >
            <small *ngIf="formControls['password'].errors?.['required']"
              >Password is required.</small
            >
            <small *ngIf="formControls['password'].errors?.['minlength']"
              >Password must be at least 8 characters long.</small
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="password_confirmation" class="form-label" >Confirm Password</label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input type="password" id="password_confirmation" formControlName="password_confirmation" class="form-control" placeholder="Confirm your password">
          </div>
          <div *ngIf="formControls['password_confirmation'].touched && formControls['password_confirmation'].invalid" class="text-danger">
              <small *ngIf="formControls['password_confirmation'].errors?.['required']" >Confirming password is required.</small>
              <small *ngIf="formControls['password_confirmation'].errors?.['minlength']" >Confirming password must be at least 8 characters long.</small>
              <small *ngIf="formControls['password_confirmation'].errors?.['passwordMismatch']" >Passwords do not match.</small>
          </div>
        </div>
  
        <button type="submit" class="btn main-btn rounded-5 custom-button w-100">
          Reset Password
        </button>
      </form>
  
      <div class="text-center text-dark mt-3">
        <p>Remember your password? <a routerLink="/signin">Log in to your account now</a></p>
      </div>
    </div>
  </div>
  