<div class="container mt-5 fw-bold" dir="ltr">
    <div class="form-container">
        <h2 class="mb-6 font-24-bold text-center">Reset Password</h2>
        <p class="text-center">Enter your email address to reset your password</p>

        <form class="reset-password-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" id="email" formControlName="studentEmail" class="form-control" placeholder="Enter your email address">
                </div>
                <div *ngIf="formControls['studentEmail'].touched && formControls['studentEmail'].invalid" class="text-danger">
                    <small *ngIf="formControls['studentEmail'].errors?.['required']">Email is required.</small>
                    <small *ngIf="formControls['studentEmail'].errors?.['email']">Invalid email address.</small>
                </div>
            </div>

            <button type="submit" class="btn main-btn rounded-5 custom-button w-100">Reset Password</button>
        </form>

        <div class="text-center mt-3">
            <p>Remembered your password? <a routerLink="/signin">Log in to your account now</a></p>
        </div>
    </div>
</div>
