<div class="container mt-5" dir="rtl">
    <div class="form-container">
        <h2 class="mb-6 font-24-bold text-center">استعادة كلمة المرور</h2>
        <p class="text-center">أدخل بريدك الإلكتروني لاستعادة كلمة المرور</p>

        <form class="reset-password-form">
            <div class="mb-3">
                <label for="email" class="form-label">عنوان البريد الإلكتروني <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" id="email" class="form-control" placeholder="أدخل بريدك الإلكتروني" >
                </div>
            </div>

            <button type="submit" class="btn btn-primary rounded-5 custom-button w-100">استعادة كلمة المرور</button>
        </form>

        <div class="text-center mt-3">
            <p>تذكرت كلمة المرور؟ <a href="#">ادخل إلى حسابك الآن</a></p>
        </div>
    </div>
</div>
