<div class="container mt-3 my-3" dir="rtl">
    <div class="form-container">
      <h2 class="mb-6 font-24-bold text-center">انشئ حساب طالب الآن</h2>
      <p class="text-center">ادخل بياناتك بشكل صحيح للحصول على أفضل تجربة داخل الموقع</p>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <label for="firstName" class="form-label">الاسم <span class="text-danger">*</span></label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
            <input type="text" id="firstName" class="form-control" placeholder="الاسم مطلوب" formControlName="firstName">
          </div>
          <div *ngIf="f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)" class="text-danger">
            <small *ngIf="f['firstName'].errors?.['required']">الاسم مطلوب.</small>
            <small *ngIf="f['firstName'].errors?.['pattern']">الاسم يجب أن يحتوي على أحرف فقط.</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="email" class="form-label">عنوان البريد الإلكتروني <span class="text-danger">*</span></label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input type="email" id="email" class="form-control" placeholder="أدخل بريدك الإلكتروني" formControlName="email">
          </div>
          <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-danger">
            <small *ngIf="f['email'].errors?.['required']">البريد الإلكتروني مطلوب.</small>
            <small *ngIf="f['email'].errors?.['email']">البريد الإلكتروني غير صالح.</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="password" class="form-label">كلمة السر <span class="text-danger">*</span></label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input [type]="passwordFieldType" id="password" class="form-control" placeholder="كلمة المرور مطلوبة" formControlName="password">
            <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
              <i [class]="eyeIcon"></i>
            </span>
          </div>
          <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="text-danger">
            <small *ngIf="f['password'].errors?.['required']">كلمة المرور مطلوبة.</small>
            <small *ngIf="f['password'].errors?.['minlength']">يجب أن تحتوي كلمة المرور على 6 أحرف على الأقل.</small>
            <small *ngIf="f['password'].errors?.['pattern']">يجب أن تحتوي كلمة المرور على حرف كبير، حرف صغير، رقم، ورمز خاص.</small>
          </div>
        </div>
  
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">تأكيد كلمة السر <span class="text-danger">*</span></label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input [type]="confirmPasswordFieldType" id="confirmPassword" class="form-control" placeholder="أدخل تأكيد كلمة السر" formControlName="confirmPassword">
            <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()" style="cursor: pointer;">
              <i [class]="confirmEyeIcon"></i>
            </span>
          </div>
          <div *ngIf="registerForm.errors?.['passwordMismatch'] && (f['confirmPassword'].dirty || f['confirmPassword'].touched)" class="text-danger">
            <small>كلمات المرور غير متطابقة.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="nationalId" class="form-label">الرقم القومى <span class="text-danger">*</span></label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              <input type="text" id="nationalId" class="form-control" placeholder="أدخل الرقم القومى" formControlName="nationalId">
          </div>
          <div *ngIf="f['nationalId'].invalid && (f['nationalId'].dirty || f['nationalId'].touched)" class="text-danger">
              <small *ngIf="f['nationalId'].errors?.['required']">الرقم القومي مطلوب.</small>
              <small *ngIf="f['nationalId'].errors?.['pattern']">الرقم القومي غير صحيح.</small>
          </div>
      </div>

      <div class="mb-3">
          <label for="gender" class="form-label">النوع <span class="text-danger">*</span></label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
              <select id="gender" class="form-select" formControlName="gender">
                  <option value="" disabled selected>اختر النوع</option>
                  <option value="male">ذكر</option>
                  <option value="female">أنثى</option>
              </select>
          </div>
          <div *ngIf="f['gender'].invalid && (f['gender'].dirty || f['gender'].touched)" class="text-danger">
              <small *ngIf="f['gender'].errors?.['required']">النوع مطلوب.</small>
          </div>
      </div>

      <div class="mb-3">
          <label for="address" class="form-label">العنوان التفصيلي <span class="text-danger">*</span></label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
              <input type="text" id="address" class="form-control" placeholder="أدخل العنوان التفصيلي" formControlName="address">
          </div>
          <div *ngIf="f['address'].invalid && (f['address'].dirty || f['address'].touched)" class="text-danger">
              <small *ngIf="f['address'].errors?.['required']">العنوان مطلوب.</small>
          </div>
      </div>

      <div class="mb-3">
          <label for="phone" class="form-label">رقم التليفون <span class="text-danger">*</span></label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
              <input type="text" id="phone" class="form-control" placeholder="أدخل رقم التليفون" formControlName="phone">
          </div>
          <div *ngIf="f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="text-danger">
              <small *ngIf="f['phone'].errors?.['required']">رقم التليفون مطلوب.</small>
              <small *ngIf="f['phone'].errors?.['pattern']">رقم التليفون غير صحيح.</small>
          </div>
      </div>

      <div class="mb-3">
          <label for="profilePicture" class="form-label">تحميل صورة <span class="text-danger">*</span></label>
          <div class="input-group">
              <span class="input-group-text"><i class="fas fa-image"></i></span>
              <input type="file" id="profilePicture" class="form-control" formControlName="profilePicture">
          </div>
      </div>

  
        <button type="submit" class="btn main-btn rounded-5 custom-button w-100" >إنشاء حساب</button>
      </form>
  
      <div class="text-center mt-3">
        <p>يوجد لديك حساب بالفعل؟ <a routerLink="/signin" >ادخل إلى حسابك الآن</a></p>
      </div>
    </div>
  </div>
  