<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary fw-bold">{{title}}</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center shadow-lg border-0 mb-4" style="background-color: #f8f9fa;">
                <div class="card-body " style="border-radius: 10px; background-color: #007bff;">
                    <h3 class="text-white fw-bold">Your Score</h3>
                    <h1 class="text-light" style="font-size: 3rem;">{{ score }} </h1>
                    <p class="text-light mb-0" style="font-size: 1.2rem;">Well Done!</p>
                </div>
            </div>
        </div>
    </div>

    <form >
        <div class="row">
            @for(question of questions; track $index) {
            <div class="col-md-12 mb-4">
                <div class="card shadow-lg border-0 transition-card"
                    style="border-radius: 10px; background-color: #f8f9fa;">
                    <div class="card-header text-white fw-bold"
                        style="border-radius: 10px 10px 0 0; background-color: #007bff; padding: 1.2rem;">
                        <h5 class="mb-0">
                            <span class="badge bg-light text-primary" style="font-size: 1rem;">{{ $index + 1 }}</span>
                            {{ question.question_text }}
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-check p-3 shadow-sm rounded transition-answer" [ngStyle]="{
                                   'background-color': question.answers1.is_correct == 1 ? '#07ee2e' : 
                                   (question.answers1.id == question.user_answer && question.answers1.is_correct == 0 ? '#fa0606' : '#e9ecef')
                                }">
                                    <label class="form-check-label" for="option1_{{ $index }}" style="font-size: 1rem;">
                                        {{ question.answers1.answer_text }}
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-check p-3 shadow-sm rounded transition-answer" [ngStyle]="{
                                   'background-color': question.answers2.is_correct == 1 ? '#07ee2e' : 
                                   (question.answers2.id == question.user_answer && question.answers2.is_correct == 0 ? '#fa0606' : '#e9ecef')
                                }">
                                    <label class="form-check-label" for="option2_{{ $index }}" style="font-size: 1rem;">
                                        {{ question.answers2.answer_text }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-check p-3 shadow-sm rounded transition-answer" [ngStyle]="{
                                    'background-color': question.answers3.is_correct == 1 ? '#07ee2e' : 
                                    (question.answers3.id == question.user_answer && question.answers3.is_correct == 0 ? '#fa0606' : '#e9ecef')
                                 }">
                                    <label class="form-check-label" for="option2_{{ $index }}" style="font-size: 1rem;">
                                        {{ question.answers3.answer_text }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-check p-3 shadow-sm rounded transition-answer" [ngStyle]="{
                                    'background-color': question.answers4.is_correct == 1 ? '#07ee2e' : 
                                    (question.answers4.id == question.user_answer && question.answers4.is_correct == 0 ? '#fa0606' : '#e9ecef')
                                 }">
                                    <label class="form-check-label" for="option2_{{ $index }}" style="font-size: 1rem;">
                                        {{ question.answers4.answer_text }}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

    </form>
</div>