<section class="intro mt-5" >
    <div class="bg-image h-100" >
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="card-body p-0">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 500px">
                    <table class="table table-striped mb-0 " >
                      <thead style="background-color: #002d72;">
                        <tr>
                          <th scope="col">الاسم </th>
                          <th scope="col">البريد الإلكتروني </th>
                          <th scope="col">الرقم القومى </th>
                          <th scope="col">النوع</th>
                          <th scope="col">العنوان</th>
                          <th scope="col">رقم التليفون</th>
                          <th scope="col">صورة</th>
                        </tr>
                      </thead>
                      <tbody>
                       <tr>
                        <td>محمدابراهيم </td>
                        <td>Mohamed&#64;giamlcom</td>
                        <td>30203301402336 </td>
                        <td>ذكر </td>
                        <td>مصر</td>
                        <td>01016659385</td>
                        <td>
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjclDv0e9IVQdcKL5CgI8DITEgglEavaKqww&s" alt="Mohamed" class="img-fluid " style="width: 60px; height: 80px;">
                        </td>
                       </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>