<nav class="navbar">
    <div class="navbar-left">
     <p><img src="" alt="User Avatar" class="user-avatar">
      <i class="fas fa-bell notification-icon mx-3"></i></p> 
    </div>
    <div class="navbar-right">
      <i class="fas fa-sign-out-alt logout-icon"></i>
    </div>
  </nav>

  <div class="sidebar " dir="rtl">
    <div class="sidebar-logo">
            <a class="sidebar-brand" href="#">Ana Kafou</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a href="#">
                    <p><i class="fas fa-user ms-2"></i>المعلمين</p>
                </a>
                <ul id="base" class="nav-collapse collapse">
                    <li>
                        <a href="#">أضافة معلم</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <p><i class="fas fa-th-list ms-2"></i>الأختبارات</p>
                </a>
                <ul class="nav-collapse collapse">
                    <li>
                        <a href="#">أضافة اختبار</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <p><i class="fas fa-video ms-2"></i>الكورسات المباشرة</p>
                </a>
                <ul class="nav-collapse collapse">
                    <li>
                        <a href="#">أضافة كورس</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <p><i class="fas fa-play-circle ms-2"></i>الكورسات المسجلة</p>
                </a>
                <ul class="nav-collapse collapse">
                    <li>
                        <a href="#">أضافة كورس مسجل</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="col-12 offset-1" dir="rtl">
    <div class="row mt-5 gap-3 p-3">
            <div class="col-lg-3 col-5">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>100</h3> 
                        <h4>عدد الطلاب</h4> 
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-5">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>20</h3>
                        <h4>عدد المعلمين</h4> 
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-5">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>10</h3>
                        <h4>عدد الكورسات المباشرة</h4> 
                    </div>
                    <div class="icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <a href="" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
    </div>
    <div class="row mt-5 gap-3 p-3">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>10</h3> 
                        <h4>عدد الكورسات المسجله</h4> 
                    </div>
                    <div class="icon">
                        <i class="fas fa-play-circle"></i>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>5</h3> 
                        <h4>عدد اختبارات القدرات</h4> 
                    </div>
                    <div class="icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>5</h3> 
                        <h4>المدفوعات</h4> 
                    </div>
                    <div class="icon">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <a href="#" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
    </div>

</div>