<section class="container d-flex flex-column gap-5 mb-5" dir="ltr">
    <div class="text-center">
      <h6 class="highlight-text">Still confused?</h6>
      <h3 class="section-title">We’ll answer all your questions here</h3>
    </div>
  
    <div class="d-flex flex-lg-row flex-column shadow1 justify-content-between contact-card" style="border-radius: 10px;">
      <div class="col-lg-5 p-4 contact-info">
        <h3 class="section-title">Got a question?</h3>
        <h4 class="subtext">We welcome all your inquiries and are happy to assist in providing a smooth and advanced learning environment.</h4>
  
        <div class="d-flex btn-container gap-3 mt-5 mb-3">
          <a href="https://wa.me/01127096802" target="_blank"  class="custom-button nav-link px-5">Contact Us</a>
          <a href="mailto:elghorababdo@gmail.com?subject=More%20Questions%20Inquiry" class="custom-button-2 nav-link px-4">More Questions</a>
        </div>
      </div>
  
      <div class="col-lg-7 d-flex align-items-center card-input-section">
        <img src="Vector-1.webp" alt="Contact Image" class="contact-img">
        <div class="newsletter-section">
          <h3 class="section-title">Subscribe to our Newsletter</h3>
          <p class="subtext">Stay updated with all the latest news</p>
          <form class="d-flex flex-column email-form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
              <input type="email" formControlName="email" class="email-input form-control" placeholder="Enter your email">
              <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-danger">
                <small *ngIf="emailForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="emailForm.get('email')?.errors?.['email']">Invalid email address.</small>
              </div>
              <button type="submit" class="subscribe-btn" [disabled]="emailForm.invalid">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  