<div class="main">
    <div class="row">
        <div class=" col-md-12 mx-auto ">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <a routerLink="/paymentcreate" class="btn btn-sm btn-primary pull-left"><i class="fa fa-plus-circle"></i> Add New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>userName</th>
                                <th>courseName</th>
                                <th>Amount</th>
                                <th>paymentDate</th>
                            </tr>
                        </thead>
                        <tbody>
                           @for (payment of payments; track payment.id) { 
                            <tr>
                                <td>{{payment.id}}</td>
                                <td>{{payment.user_id}}</td>
                                <td>{{payment.course_id}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.payment_date}}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>