<div class="main">
    <div class="row">
        <div class=" col-md-12 mx-auto ">
            <div class="panel">
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th>#</th>
                                <th>اسم الطالب</th>
                                <th>اسم الكورس</th>
                                <th>الكمية</th>
                                <th>تاريخ الدفع</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (payment of payments; track payment.id) {

                            <tr>
                                <td>{{ payment.id }}</td>
                                <td>{{payment.user.name }}</td>
                                <td>{{payment.course.title }}</td>
                                <td>{{payment.amount/100 }}</td>
                                <td>{{payment.payment_date }}</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>