<div class="w-100 d-flex flex-column align-items-center parent fw-bold">
  <div class="d-flex w-100 justify-content-around child">
    <h1 class="font-24-bold text-center ">All Courses</h1>

    <div class="search-container h-75 me-3">
      <input type="text" (ngModelChange)="searchCourses(searchControl.value)" [formControl]="searchControl"
        placeholder="Enter title or price" class="search-input" />
      <button (click)="searchCourses(searchControl.value)" class="search-button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div>
      <select [formControl]="categoryControl" class="form-select  form-select-lg mb-3 me-3 childd"
        aria-label=".form-select-lg example" (change)="onCategoryChange($event)">
        <option name="category_id" class="childoption text-muted" value="" selected>All Categories</option>
        @for (category of categories; track category.id) {
        <option name="category_id" [value]="category.id">{{category.name}}</option>
        }
      </select>
    </div>
  </div>
  <div class="d-flex justify-content-center gap-3 mb-5 mt-5">
    <ng-container *ngIf="items && items.length > 0; else noCourses">
      <app-card *ngFor="let course of items" [course]="course"></app-card>
    </ng-container>
    <ng-template #noCourses>
      <div class="d-flex justify-content-center align-items-center w-100">
        <h1>No Courses Found</h1>
      </div>
    </ng-template>
  </div>
  <mat-paginator class="fs-6  mt-5 pagi text-white  rounded rounded-pill px-3" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage" (page)="pageChanged($event)">
  </mat-paginator>
</div>
