
<div class="container">
    <div class="container mt-5">
        <h4 class="text-center text-warning">تعرف علي</h4>
        <h1 class="text-center fw-bold mb-3">المدرسين الموجودين بالأكاديمية</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            @for (item of teachers; track item.id) { 
        <div [routerLink]="['/teacherprofile', item.id] " class="col-md-3 col-sm-8 mb-5  position-relative ">
            <div class="card ">
                <div class="card-image  ">
                    <img class="mx-auto" [src]="item.image" width="155px" height="175px" alt="not">
                </div>
                <div class="cont">
                    <div class="category fs-5  mt-3"> {{item.name}} </div>
                <div class="heading ">  {{item.title}}  
                </div>
                <div class="author position-absolute bottom-0 start-0 mb-3 ms-3 fw-bold"> {{item.phone}}</div>
                <div class="author position-absolute bottom-0 end-0 mb-3 me-3 fw-bold "> {{item.address}}</div>
                </div>
            </div>
        </div>
    }
       
    </div>
    </div>
</div>