<section class="container">
  <div class="row active-with-click">
    <div class="container">
      <div class="container mt-5 text-center">
      <h1 class="fw-bold mb-3 text-warning">  Platform Teachers</h1>
      </div>
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          @for (item of teachers; track item.id) {
      
      <div class="col-md-3 col-sm-6 cardd col-xs-12">
          <article class="material-card Teal" [routerLink]="['/teacherprofile', item.id]">
              <h2 class="text-start ">
                  <span class="text-dark ms-2">{{ item.name }}</span>
                  <strong class="text-dark ms-2 ">
                    <!-- <i class="fa fa-fw fa-star"></i> -->
                    <span>{{ item.title }}</span>
                  </strong>
              </h2>
              <div class="mc-content">
                  <div class="img-container w-100">
                      <img class="img-responsive" [src]="item.image">
                  </div>
              </div>
          </article>
      
  </div>
}
</div>
</div>
</div>

