
<div class="container">
    <div class="container mt-5">
        <h4 class="text-center text-warning">تعرف علي</h4>
        <h1 class="text-center fw-bold mb-3">المدرسين الموجودين بالأكاديمية</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            @for (item of teachers; track item.id) {
  <div class="col-md-3 mb-4">
    <div class="teacher-card" [routerLink]="['/teacherprofile', item.id]">
      <div class="card-image-container">
        <img [src]="item.image" alt="Teacher Image">
      </div>
      <div class="teacher-info">
        <h5>{{ item.name }}</h5>
        <p>{{ item.title }}</p>
      </div>
    </div>
  </div>

    }

    </div>
    </div>
</div>
