section.container > div {
    width: 70%;
    border-radius: 10px;
    background-color: white;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  label {
    font-size: 22px;
  }
  
  input.form-control {
    font-size: 20px;
    padding: 15px;
  }

  button {
    padding: 0.4rem 1rem;
    color: var(--bg);
    background: linear-gradient(
        90deg,
        var(--wave1, #007bff ),
        var(--wave2,#00ccff ) 51%,
        var(--wave1,  rgb(0 107 179))
      )
      var(--x, 0) / 200%;
    scale: 1;
    transition: 0.4s;
  }
  
  
  button:hover {
    scale: 0.995;
    --x: 100%;
  }
  
  h3 {
    font-size: 28px;
    color: black;
  }
  
  h6 {
    font-size: 22px;
    color: black;
  }
  
  p {
    font-size: 20px;
    color: black;
  }
  
  p a {
    font-size: 20px;
    color: orange;
  }
  
  p a:hover {
    text-decoration: underline !important;
  }
  
  @media (max-width: 768px) {
    section.container > div {
      width: 90%; 
      padding: 20px;
    }
  
    label {
      font-size: 20px; 
    }
  
    input.form-control {
      font-size: 18px; 
      padding: 12px;
    }
  
    button {
      height: 55px;
      font-size: 20px;
    }
  
    h3 {
      font-size: 24px;
    }
  
    h6 {
      font-size: 20px;
    }
  
    p {
      font-size: 18px;
    }
  
    p a {
      font-size: 18px;
    }
  }
  
  @media (max-width: 576px) {
    section.container > div {
      width: 95%; 
      padding: 15px;
    }
  
    label {
      font-size: 18px; 
    }
  
    input.form-control {
      font-size: 16px;
      padding: 10px;
    }
  
    button {
      height: 50px;
      font-size: 18px;
    }
  
    h3 {
      font-size: 22px;
    }
  
    h6 {
      font-size: 18px;
    }
  
    p {
      font-size: 16px;
    }
  
    p a {
      font-size: 16px;
    }
  }
  