<section class="container d-flex justify-content-center mt-3 my-3" dir="rtl">
  <div class="col-md-8 px-5">
    <div class="text-center mt-5">
      <h3 class="text-second mb-4" style="color: orange; font-weight: 700;">تسجيل الدخول</h3>
      <h6 class="mb-6 text-main font-24-bold">
        أدخل علي حسابك بادخال البريد الإلكتروني وكلمة المرور المسجل بهم من قبل
      </h6>
    </div>

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="row mt-5">
        <div class="col">
          <div class="form-group">
            <label for="studentEmail">عنوان البريد الإلكتروني</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <input type="email" formControlName="studentEmail" id="studentEmail" class="form-control"
                     placeholder="البريد الإلكتروني" aria-label="عنوان البريد الإلكتروني" required>
            </div>
            <div *ngIf="formControls['studentEmail'].touched && formControls['studentEmail'].invalid" class="text-danger">
              <small *ngIf="formControls['studentEmail'].errors?.['required']">البريد الإلكتروني مطلوب.</small>
              <small *ngIf="formControls['studentEmail'].errors?.['email']">البريد الإلكتروني غير صحيح.</small>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <div class="form-group">
            <label for="password">كلمة السر</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
              <input [type]="passwordFieldType" formControlName="password" id="password" class="form-control"
                     placeholder="كلمة السر" aria-label="كلمة السر" required>
              <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                <i [class]="eyeIcon"></i>
              </span>
            </div>
            <div *ngIf="formControls['password'].touched && formControls['password'].invalid" class="text-danger">
              <small *ngIf="formControls['password'].errors?.['required']">كلمة السر مطلوبة.</small>
              <small *ngIf="formControls['password'].errors?.['minlength']">
                كلمة السر يجب أن تحتوي على 6 أحرف على الأقل.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-3 text-center my-4">
        <button class="btn rounded-5 custom-button" type="submit" >تسجيل الدخول</button>
        <p>لا يوجد لديك حساب؟
          <a routerLink="/studentSignup" class="text-second text-decoration-none" style="color: orange;">انشئ حسابك الآن</a>
        </p>
        <p>هل نسيت كلمة المرور؟
          <a routerLink="/studentSignup" class="text-second text-decoration-none" style="color: orange;">استعادة كلمة المرور</a>
        </p>
      </div>
    </form>
  </div>
</section>
