@if(role_id === 1 ||role_id === 4){
<div class="container mt-5" dir="ltr">
    <div class="card  text-center text-white" style="border-radius: 20px  ;">
        <div class="card-body">
            <table class="table table-striped" style="background-color: rgb(41, 85, 167) ; ">
                <thead>
                    <tr>
                        <td>title</td>
                        <td>Description</td>
                        <td>is_free</td>
                        <td colspan="3">Action</td>
                    </tr>
                </thead>
                <tbody>
                    @for(item of testList ; track $index){
                    <tr>
                        <td>{{item.test.title}}</td>
                        <td>{{item.test.description}}</td>
                        <td>{{item.test.is_free}}</td>
                        <td><a class="btn btn-danger" (click)="onDelete(item.test.id)">Delete</a></td>
                        <td><a class="btn btn-primary" routerLink="/test/{{item.test.id}}">Show</a></td>
                    </tr>
                    }
                </tbody>

            </table>    
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" routerLink="/test-create" class="btn main-btn rounded-5 ms-5 p-2  custom-button w-25">Add New Test </button>
              </div>
        </div>
    </div>
</div>
}@else{
<div class="container-fluid">
    <div class="row">
        @for(i of testList ; track $index){
        <div class="col-lg-3 col-6 mt-5 ">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{i.test.title}}<sup style="font-size: 20px"></sup></h3>
                    <p>{{i.test.description}}</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                @if (i.score == null) {

                <a routerLink="/test/{{i.test.id}}" class="small-box-footer"> <i
                        class="fas fa-arrow-circle-right"></i></a>
                }@else{
                <a routerLink="/test-answer/{{i.test.id}}" class="small-box-footer"> <i
                        class="fas fa-arrow-circle-right"></i></a>

                }
            </div>
        </div>


        }
    </div>
</div>



}