<div class="dashboard-container">
  <div class="sidebar  mt-4">
    <!-- <img class="sidebar-text mx-auto  fs-3" src="favicon.ico" alt="Ana Kafuo" width="90px" height="" /> -->
    <!-- <span style="color: blue; text-shadow: 20px 10px 20px rgb(0, 24, 88);" class="sidebar-text text-center fs-2 fw-bold">E-Learning</span> -->
    <!-- <span class="sidebar-text text-center my-3 fs-3 text-dark fw-bold">( أنا كفو ) </span> -->

    <ul>

      <li class="mt-5">
        <a routerLink="">
          <i class="fa-solid fa-house"></i>
          <span class="sidebar-text text-mode ">Home</span>
        </a>
      </li>
      @if(role_id === 1){
      <li class="mt-3">
        <a routerLink="/allorganizer">
          <i class="fa-solid fa-address-card"></i>
          <span class="sidebar-text text-mode "> Organizers</span>
        </a>
      </li>
      <li class="mt-3">
        <a routerLink="/createorganizer">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="sidebar-text text-mode ">Organizer</span>
        </a>
      </li>
      }
      <li class="mt-3">
        <a routerLink="/tests">
          <i class="fas fa-th-list "></i>
          <span class="sidebar-text text-mode ">Tests</span>
        </a>
      </li>
      <li class="mt-3">
        <a routerLink="/test-create">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="sidebar-text text-mode "> Test</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/courses">
          <i class="fas fa-video "></i>
          <span class="sidebar-text text-mode ">Courses</span>
        </a>
      </li>
      <li class="mt-3">
        <a routerLink="/coursecreate">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="sidebar-text text-mode "> Course</span>
        </a>
      </li>
      <li>
        <a routerLink="/categories">
          <i class="fa-solid fa-list"></i>
          <span class="sidebar-text text-mode ">Category</span>
        </a>
      </li>
      <li class="mt-3">
        <a routerLink="/createcategory">
          <i class="fa-solid fa-circle-plus"></i>
          <span class="sidebar-text text-mode "> Category</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main-content mt-4">

    <div class="content">
      <!-- <div>
        <div class="row">
          <div class="col-md-3 cardd">
            <div class="card-counter primary">
              <i class="fa-solid fa-graduation-cap"></i>
              <span class="count-numbers">{{userCount}}</span>
              <span class="count-name ">Students</span>
            </div>
          </div>

          <div class="col-md-3 cardd">
            <div class="card-counter danger">
              <i class="fa fa-ticket"></i>
              <span class="count-numbers">{{courseCount}}</span>
              <span class="count-name">Courses</span>
            </div>
          </div>

          <div class="col-md-3 cardd">
            <div class="card-counter success">
              <i class="fa-regular fa-money-bill-1"></i>
              <span class="count-numbers">{{paymentCount}}</span>
              <span class="count-name">Payments</span>
            </div>
          </div>

          <div class="col-md-3 cardd">
            <div class="card-counter info">
              <i class="fa fa-users"></i>
              <span class="count-numbers ">{{teacherCount}}</span>
              <span class="count-name">Teachers</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="pt-1">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-75 text-center shadow">
              <div class="card-body d-flex justify-content-around">
                <div class="display-3 text-primary">
                  <i class="bi bi-people"></i>
                </div>
                <div>
                  <h2 class="card-title my-1">{{userCount}}</h2>
                  <p class="card-text text-muted fw-bold ">Students</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card h-75 text-center shadow">
              <div class="card-body d-flex justify-content-around">
                <div class="display-3 text-success mb-2">
                  <i class="bi bi-graph-up text-primary "></i>
                </div>
                <div>
                  <h2 class="card-title my-1">{{paymentCount}}</h2>
                  <p class="card-text text-muted fw-bold" >Payments</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card h-75 text-center shadow">
              <div class="card-body d-flex justify-content-around">
                <div class="display-3 text-warning mb-2">
                  <i class="bi bi-briefcase text-primary "></i>
                </div>
                <div>
                  <h2 class="card-title my-1">{{courseCount}}</h2>
                  <p class="card-text text-muted fw-bold">Courses</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col">
            <div class="card h-75 text-center shadow">
              <div class="card-body  d-flex justify-content-around">
                <div class="display-3 text-danger mb-2">
                  <i class="fas fa-users stat-icon text-primary "></i>
                </div>
                <div>
                  <h2 class="card-title my-1">{{teacherCount}}</h2>
                  <p class="card-text text-muted fw-bold">Teachers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div class="card1 " routerLink="/admin/user-managment">
          <h3 class="text-body">Student</h3>
          <p class="text-body">Show All Student that Login.</p>
        </div>
        <div class="card2" routerLink="/admin/payment">
          <h3 class="text-body">Payments</h3>
          <p class="text-body">Details student and the courses he purchased.</p>
        </div>
        <div class="card3 " routerLink="/courses">
          <h3 class="text-body">Courses</h3>
          <p class="text-body">Details about course content.</p>
        </div>
      </div>



      <div class="main overflow-auto">
        <div class="row">
          <div class="col-md-12 mx-auto " style="overflow: auto; height: 500px; scrollbar-width: none;">
            <table class="table table-hover  table-striped table-fixed">
              <thead class="thead-dark mx-auto mt-0 " style=" position: sticky;top: 0; z-index: 1 ; ">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Course</th>
                  <th>Amount</th>
                  <th>Payment Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of payments; let i = index; trackBy: trackByPaymentId">
                  <td>{{ i + 1 }}</td>
                  <td>{{ payment.user.name }}</td>
                  <td>{{ payment.course.title }}</td>
                  <td>{{ payment.amount / 100 | currency: 'USD' }}</td>
                  <td>{{ payment.payment_date | date: 'dd/MM/yyyy' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>