    <article class="material-card Teal" [routerLink]="['/teacherprofile', teacher.id]">
        <h2 class="text-start ">
            <span class="text-dark ms-2">{{ teacher.name }}</span>
            <strong class="text-dark ms-2 ">
              <!-- <i class="fa fa-fw fa-star"></i> -->
              <ngb-rating [(rate)]="ratingAverage" [max]="5" style="font-size: 1.6rem; color: gold; " [readonly]="true" />
              <span>{{ teacher.title }}</span>
            </strong>
        </h2>
        <div class="mc-content">
            <div class="img-container w-100">
                <img class="img-responsive" [src]="teacher.image">
            </div>
        </div>
    </article>

