<div class="container mt-5">
    <h2 class="mb-4 text-center">Exam</h2>

    <form [formGroup]="testForm" (ngSubmit)="onSubmit()" >
        <div class="row">
            <!-- Loop over questions -->
            @for(question of questions; track $index) {
            <div class="col-md-12 mb-4">
                <div class="card shadow border-0" style="border-radius:20px  ">
                    <div class="card-header bg-info text-white fw-bold"
                        style="border-radius:20px 20px 0 0 ;font-weight: bold;">
                        <h5 class="mb-0">{{ $index + 1 }}. {{ question.question_text }}</h5>
                        <input type="hidden" name="question_id" formControlName="question_id"
                            [value]="question.question_id" >
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-start">
                            <!-- Loop over answers -->
                            <div class="form-check mx-auto ">
                                <input class="form-check-input" type="radio" (change)="getAnswer($event)"  name="{{$index}}" id="{{question.answers1.is_correct}}" value="{{question.answers1.id }}" required>
                                <label class="form-check-label">
                                    {{question.answers1.answer_text }}
                                </label>
                            </div>
                            <div class="form-check mx-auto ">
                                <input class="form-check-input" type="radio"  (change)="getAnswer($event)" name="{{$index}}" value="{{question.answers2.id }}" required>
                                <label class="form-check-label">
                                    {{question.answers2.answer_text }}
                                </label>
                            </div>
                            <div class="form-check mx-auto ">
                                <input class="form-check-input" type="radio" (change)="getAnswer($event)" name="{{$index}}"  value="{{question.answers3.id }}" required>
                                <label class="form-check-label">
                                    {{question.answers3.answer_text }}
                                </label>
                            </div>
                            <div class="form-check mx-auto ">
                                <input class="form-check-input" type="radio"  (change)="getAnswer($event)" name="{{$index}}" value="{{question.answers4.id }}" required>
                                <label class="form-check-label">
                                    {{question.answers4.answer_text }}
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="text-center mt-5">
            <button type="submit" (click)="getResults()" class="btn btn-lg btn-info shadow-sm px-5">Submit Exam</button>
        </div>
    </form>
</div>