 <div class="container mt-5 fw-bold">
  <h3 class="text-center  fw-bold mb-4">Courses</h3>
  </div>
<div class="container">
<section class="wrapper">
  <div class="container-fostrap">
      <div class="content">
          <div class="container">
              <div class="row ">
                @for (item of courses; track item.id) {
                  <div class="col-xs-12 col-sm-6  " >
                      <div class="card resent-card " >
                          <a class="img-card" >
                          <img [src]="item.thumbnail" />
                        </a>
                          <div class="card-content">
                              <h4 class="card-title">
                                  <a>{{item.title}}</a>
                              </h4>
                              <!-- <p class="">
                                {{truncate.transform(this.item.description, 110)}} 
                              </p> -->
                          </div>
                          <div class="card-read-more">
                              <a [routerLink]="['/course', item.id]" class="btn btn-link btn-block">
                                  Read More
                              </a>
                          </div>
                      </div>
                  </div>
                }
              </div>
          </div>
      </div>
  </div>
</section>
<button routerLink="/courses" class="button bbb-ttt mx-auto mt-3">
  All Courses
  <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
    <path
      clip-rule="evenodd"
      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
      fill-rule="evenodd"
    ></path>
  </svg>
</button>     
</div>