<div class="hero d-flex w-100 justify-content-evenly align-items-center">
  <div class="shape2 d-none d-lg-block">
    <svg id="sw-js-blob-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
          <stop offset="0%" stop-color="var(--wave1, #026fe4)" />
          <stop offset="51%" stop-color="var(--wave2, #00ccff)" />
          <stop offset="100%" stop-color="var(--wave1, rgb(2, 85, 141))" />
        </linearGradient>
      </defs>
      <path fill="url(#sw-gradient)"
        d="M27.5,0.3C27.5,14,13.8,28.1,0.1,28.1C-13.6,28.1,-27.1,14,-27.1,0.3C-27.1,-13.4,-13.6,-26.8,0.1,-26.8C13.8,-26.8,27.5,-13.4,27.5,0.3Z"
        transform="translate(50 50)" stroke-width="0" style="transition: all 0.3s ease 0s"></path>
    </svg>
  </div>
  <div class="col-md-10 col-sm-12 col-xs-12 mt-4">
    <div class="d-flex row">
      <div class="col-lg-6 d-none d-lg-block shape3">
        <div class="image text-center">
          <svg id="sw-js-blob-svg" class="svg-1 col-xs-12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
            version="1.1">
            <defs>
              <linearGradient id="custom-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="var(--wave1, #026fe4)" />
                <stop offset="51%" stop-color="var(--wave2, #00ccff)" />
                <stop offset="100%" stop-color="var(--wave1, rgb(2, 85, 141))" />
              </linearGradient>
            </defs>

            <path fill="url(#custom-gradient)"
              d="M26.7,-33.2C33.3,-26.4,36.2,-16.6,36,-7.8C35.8,1,32.4,8.9,28.2,16.4C24,24,19,31.3,12.2,33.9C5.5,36.4,-3.1,34.3,-10.6,30.8C-18.1,27.4,-24.6,22.7,-29.2,16.2C-33.8,9.6,-36.5,1.4,-35.3,-6.4C-34.2,-14.2,-29.1,-21.4,-22.6,-28.3C-16.1,-35.1,-8,-41.5,1,-42.7C10.1,-43.9,20.2,-40,26.7,-33.2Z"
              transform="translate(50 50)" stroke-width="0" style="transition: all 0.3s ease 0s"></path>
          </svg>
          <img class="img-fluid d-none d-lg-block" src="ai_1715812915107.png" alt="heroBoy" />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12  text-lg-start mt-5 align-self-center">
        <div class="text">
          <h3 class="fw-bold fs-3 text-muted lh-lg">
            Invest in your learning today, achieve success tomorrow
          </h3>
          <p class="fs-6 lh-base text-start text-secondary">
            We at our platform believe in the power of continuous learning and the importance of investing in knowledge
            Embark today on an inspiring educational journey where you can gain skills
            And the knowledge you need to succeed in your future. Choose from a range
            A wide range of courses and educational resources tailored to your needs
            And help you grow personally and professionally. Get ready for a bright tomorrow full of achievements,
            I started it today when I decided to invest in your education and self-development

          </p>
          <div class="text-start">
            <button routerLink="/signin" class="btn rounded-pill main-btn custom-button fs-6 mt-2 fw-bold ">
              <div class=" d-flex justify-content-between">
                <div class="me-5 fs-6 ms-1">Start Now</div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <defs>
                      <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color: #00000091" />
                        <stop offset="100%" style="stop-color: #2349c779" />
                      </linearGradient>
                    </defs>
                    <path fill="url(#grad1)" class="arrow" d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
                  </svg>
                </div>
              </div>
            </button>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
