<div class="container mt-5">
    <h4 class="text-center text-warning">تعرف علي</h4>
    <h1 class="text-center fw-bold mb-3">المدرسين الموجودين بالأكاديمية</h1>
</div>
<div class="container mt-5">
    <div class="row">
    <div class="col-3">
        <div class="card ">
            <div class="card-image  ">
                <img class="mx-auto" src="https://img.freepik.com/free-vector/mans-face-flat-style_90220-2877.jpg?uid=R162579454&ga=GA1.1.1281593177.1723302490&semt=ais_hybrid" width="155px" height="175px" alt="not">
            </div>
            <div class="cont">
                <div class="category fs-5  mt-3"> الأسم </div>
            <div class="heading"> وصف عن المعلم 
                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card ">
            <div class="card-image  ">
                <img class="mx-auto" src="https://img.freepik.com/free-vector/mans-face-flat-style_90220-2877.jpg?uid=R162579454&ga=GA1.1.1281593177.1723302490&semt=ais_hybrid" width="155px" height="175px" alt="not">
            </div>
            <div class="cont">
                <div class="category fs-5  mt-3"> الأسم </div>
            <div class="heading"> وصف عن المعلم 
                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card ">
            <div class="card-image  ">
                <img class="mx-auto" src="https://img.freepik.com/free-vector/mans-face-flat-style_90220-2877.jpg?uid=R162579454&ga=GA1.1.1281593177.1723302490&semt=ais_hybrid" width="155px" height="175px" alt="not">
            </div>
            <div class="cont">
                <div class="category fs-5  mt-3"> الأسم </div>
            <div class="heading"> وصف عن المعلم 
                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="card ">
            <div class="card-image  ">
                <img class="mx-auto" src="https://img.freepik.com/free-vector/mans-face-flat-style_90220-2877.jpg?uid=R162579454&ga=GA1.1.1281593177.1723302490&semt=ais_hybrid" width="155px" height="175px" alt="not">
            </div>
            <div class="cont">
                <div class="category fs-5  mt-3"> الأسم </div>
            <div class="heading"> وصف عن المعلم 
                <div class="author"> By <span class="name">Abi</span> 4 days ago</div>
            </div>
            </div>
        </div>
    </div>
   
</div>
</div>

