<div class="form-container" dir="ltr">
  <h2 class="mb-6 font-24-bold text-center">Update a teacher or manager now </h2>
  <hr>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <label for="firstName" class="form-label">Name <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
        <input type="text" id="firstName" class="form-control" placeholder="enter name" formControlName="name">
      </div>
      <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="text-danger">
        <small *ngIf="f['name'].errors?.['required']">name required.</small>
        <small *ngIf="f['name'].errors?.['pattern']">name must contain only letters.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email<span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <input type="email" id="email" class="form-control" placeholder="enter email" formControlName="email">
      </div>
      <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-danger">
        <small *ngIf="f['email'].errors?.['required']">email required.</small>
        <small *ngIf="f['email'].errors?.['email']">email not valid.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="nationalId" class="form-label">National ID<span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
        <input type="text" id="nationalId" class="form-control" placeholder="enter national_Id"
          formControlName="national_id">
      </div>
      <div *ngIf="f['national_id'].invalid && (f['nationalId'].dirty || f['nationalId'].touched)" class="text-danger">
        <small *ngIf="f['national_id'].errors?.['required']">national id required.</small>
        <small *ngIf="f['national_id'].errors?.['pattern']">national_id not valid</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
        <select id="gender" class="form-select" formControlName="gender">
          @if(updateForm.value.gender == "Male"){
            <option selected value="Male">Male</option>
            <option value="Female">Female</option>
          }@else {
            <option value="Male">Male</option>
            <option selected value="Female">Female</option>
          }          
          
        </select>
      </div>
      <div *ngIf="f['gender'].invalid && (f['gender'].dirty || f['gender'].touched)" class="text-danger">
        <small *ngIf="f['gender'].errors?.['required']">gender required.</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Organiger <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
        <select id="role_id" class="form-select" formControlName="role_id">

          @if(updateForm.value.role_id == "Moderator"){
          <option value="Teacher">Teacher</option>
          <option selected  value="Moderator">Moderator</option>
          }@else{
            <option selected value="Teacher">Teacher</option>
            <option   value="Moderator">Moderator</option>
          }
        </select>
      </div>
      <div *ngIf="f['role_id'].invalid && (f['role_id'].dirty || f['role_id'].touched)" class="text-danger">
        <small *ngIf="f['role_id'].errors?.['required']">role required.</small>
      </div>
    </div>
    <div *ngIf="updateForm.get('role_id')?.value === 'Teacher'">
      <div class="mb-3">
        <label for="title" class="form-label">Title<span class="text-danger">*</span></label>
        <input type="text" id="title" class="form-control" placeholder="enter title" formControlName="title">
        <div *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched)" class="text-danger">
          <small *ngIf="f['title'].errors?.['required']">title required.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description<span class="text-danger">*</span></label>
        <textarea id="description" class="form-control" placeholder="enter description " formControlName="description"></textarea>
        <div *ngIf="f['description'].invalid && (f['description'].dirty || f['description'].touched)" class="text-danger">
          <small *ngIf="f['description'].errors?.['required']">description required.</small>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Address <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
        <input type="text" id="address" class="form-control" placeholder="enter address"
          formControlName="address">
      </div>
      <div *ngIf="f['address'].invalid && (f['address'].dirty || f['address'].touched)" class="text-danger">
        <small *ngIf="f['address'].errors?.['required']">address required.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-phone"></i></span>
        <input type="text" id="phone" class="form-control" placeholder="enter phone" formControlName="phone">
      </div>
      <div *ngIf="f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="text-danger">
        <small *ngIf="f['phone'].errors?.['required']">phone required.</small>
        <small *ngIf="f['phone'].errors?.['pattern']">phone not valid.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="profilePicture" class="form-label">
        image <span class="text-danger">*</span>
      </label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-image"></i></span>
        <input type="file" id="image" class="form-control" formControlName="image">
      </div>
      <img [src]="currentImageUrl" width="150px" alt="not Fond">
      <div *ngIf="f['image'].invalid && (f['image'].dirty || f['image'].touched)" class="text-danger">
        <small *ngIf="f['image'].errors?.['required']">image required.</small>
        <small *ngIf="f['image'].errors?.['pattern']">الرجاء تحميل صورة صالحة (PNG, JPG, JPEG).</small>
      </div>
    </div>



    <div class="d-flex justify-content-between">
      <button type="submit" class="btn main-btn rounded-5 ms-5 custom-button w-25">Add  </button>
      <button routerLink="/allorganizer" class="btn main-btn rounded-5 me-5 custom-button w-25">Back </button>
    </div>  </form>


</div>