<div class="container mt-5" dir="ltr">
  <div class="card pro-tip-card">
    <div class="row g-0">
      <div class="col-md-12 d-flex flex-column justify-content-center p-4">
        <div class="card-body d-flex align-items-center">
          <div class="avatar-xxl avatar-indicators avatar-online me-2 position-relative">
            <img
              [src]="user.image"
              class="avatar-xxl rounded-circle border border-2"
              alt="Image"
            />
          </div>
          <div>
            <h4 class="card-title">Welcome back, {{user.name}}</h4>
            <p class="card-text">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              {{user.email}}
            </p>
            <p class="card-text">
                <i class="fa fa-phone" aria-hidden="true"></i>
                {{user.phone}}
            </p>   
            <a routerLink="/edit-profile" class="card-link text-purple">Edit Profile</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="card  position-relative mt-2">
    <div class="row g-0">
      <div class="col-md-12 position-relative">
        <img src="profile.jpg" alt="profile" class="img-fluid w-100" />
        <div class="pro-tip-content position-absolute p-4  bg-white shadow" style="top: 20px; left: 20px; margin-top: 70px; margin-left: 40px;">
          <h3 class="card-title">Pro tip:</h3>
          <p class="card-text">
            <a routerLink="/courses" class="card-link text-purple">Watch courses</a>
            while you exercise or cook. Make every minute count.
          </p>
        </div>
      </div>
    </div>
  </div>  
  <div class="py-6 mt-3">
    <h3 class="mb-4 fw-bold"><i class="fa-solid fa-book-open"></i> All Courses</h3>
    <div class="row">
      @for(user_course of user_courses; track user_course.id){
        <div class="col-xs-12 col-sm-4">
          @for(teacher of user_teacher ; track teacher.id){
            @if(teacher.id == user_course.instructor_id){
            <div class="card resent-card">
              <span class="badge ms-1 mt-1" >Enrolled</span>
                <a class="img-card"><img [src]="user_course.thumbnail"/></a>
                <p class="fw- mt-2 d-flex justify-content-center">{{user_course.title}}</p>
                <div class="card-content">
                  <div class="avatar avatar-xl mt-n7 ms-4 d-f self mx-3 d-flex align-items-center">
                    <img [src]="teacher.image" alt="Image" class="rounded-circle border-4 border-white-color-40" />
                    <p class="ms-2 mt-4">Mr.{{teacher.name}}</p>
                  </div>
                    <h4 class="card-title">
                        <a></a>
                    </h4>
                    <p class="">
                    </p>
                </div>
                <div class="card-read-more d-flex justify-content-center">
                    <a [routerLink]="['/course', user_course.id]" class="btn btn-link  ">
                      Details
                    </a>
                </div>
            </div>
          }
            }
        </div>
      }
    </div>
 
  </div>
</div>