<div class="container mt-3 my-3" dir="rtl">
  <div class="form-container">
    <h2 class="mb-6 font-24-bold text-center">إنشاء معلم أو مدير الآن</h2>
    <hr>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="row mb-3">
        <label for="firstName" class="form-label">الاسم <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-solid fa-user"></i></span>
          <input type="text" id="firstName" class="form-control" placeholder="الاسم مطلوب" formControlName="name">
        </div>
        <div *ngIf="f['name'].invalid && (f['name'].dirty && f['name'].touched || submitted)" class="text-danger">
          <small *ngIf="f['name'].errors?.['required']">الاسم مطلوب.</small>
          <small *ngIf="f['name'].errors?.['pattern']">الاسم يجب أن يحتوي على أحرف فقط.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">عنوان البريد الإلكتروني <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="email" id="email" class="form-control" placeholder="أدخل بريدك الإلكتروني"
            formControlName="email">
        </div>
        <div *ngIf="f['email'].invalid && (f['email'].dirty && f['email'].touched ||submitted)" class="text-danger">
          <small *ngIf="f['email'].errors?.['required']">البريد الإلكتروني مطلوب.</small>
          <small *ngIf="f['email'].errors?.['email']">البريد الإلكتروني غير صالح.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">كلمة السر <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input [type]="passwordFieldType" id="password" class="form-control" placeholder="كلمة المرور مطلوبة"
            formControlName="password">
          <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
            <i [class]="eyeIcon"></i>
          </span>
        </div>
        <div *ngIf="f['password'].invalid && (f['password'].dirty && f['password'].touched ||submitted)" class="text-danger">
          <small *ngIf="f['password'].errors?.['required']">كلمة المرور مطلوبة.</small>
          <small *ngIf="f['password'].errors?.['minlength']">يجب أن تحتوي كلمة المرور على 6 أحرف على الأقل.</small>
          <small *ngIf="f['password'].errors?.['pattern']">يجب أن تحتوي كلمة المرور على حرف كبير، حرف صغير، رقم، ورمز
            خاص.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">تأكيد كلمة السر <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input [type]="confirmPasswordFieldType" id="confirmPassword" class="form-control"
            placeholder="أدخل تأكيد كلمة السر" formControlName="password_confirmation">
          <span class="input-group-text" (click)="toggleConfirmPasswordVisibility()" style="cursor: pointer;">
            <i [class]="confirmEyeIcon"></i>
          </span>
        </div>
        <div
          *ngIf="createForm.errors?.['passwordMismatch'] && (f['password_confirmation'].dirty ||submitted ||  f['password_confirmation'].touched)"
          class="text-danger">
          <small>كلمات المرور غير متطابقة.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="nationalId" class="form-label">الرقم القومى <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-id-card"></i></span>
          <input type="text" id="nationalId" class="form-control" placeholder="أدخل الرقم القومى"
            formControlName="national_id">
        </div>
        <div *ngIf="f['national_id'].invalid && (f['national_id'].dirty && f['national_id'].touched || submitted)"
          class="text-danger">
          <small *ngIf="f['national_id'].errors?.['required']">الرقم القومي مطلوب.</small>
          <small *ngIf="f['national_id'].errors?.['pattern']">الرقم القومي غير صحيح.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="gender" class="form-label">النوع <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
          <select id="gender" class="form-select" formControlName="gender">
            <option value="" disabled selected>اختر النوع</option>
            <option value="Male">ذكر</option>
            <option value="Female">أنثى</option>
          </select>
        </div>
        <div *ngIf="f['gender'].invalid && (f['gender'].dirty || f['gender'].touched ||submitted)" class="text-danger">
          <small *ngIf="f['gender'].errors?.['required']">النوع مطلوب.</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">معلم او مدير <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
          <select id="role_id" class="form-select" formControlName="role_id">
            <option value="" disabled selected>اختر دور</option>
            <option value="Teacher">معلم</option>
            <option value="Moderator">مدير</option>
          </select>
        </div>
        <div *ngIf="f['role_id'].invalid && (f['role_id'].dirty || f['role_id'].touched)" class="text-danger">
          <small *ngIf="f['role_id'].errors?.['required']">النوع مطلوب.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">العنوان التفصيلي <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
          <input type="text" id="address" class="form-control" placeholder="أدخل العنوان التفصيلي"
            formControlName="address">
        </div>
        <div *ngIf="f['address'].invalid && (f['address'].dirty && f['address'].touched || submitted)" class="text-danger">
          <small *ngIf="f['address'].errors?.['required']">العنوان مطلوب.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">رقم التليفون <span class="text-danger">*</span></label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
          <input type="text" id="phone" class="form-control" placeholder="أدخل رقم التليفون" formControlName="phone">
        </div>
        <div *ngIf="f['phone'].invalid && (f['phone'].dirty && f['phone'].touched || submitted)" class="text-danger">
          <small *ngIf="f['phone'].errors?.['required']">رقم التليفون مطلوب.</small>
          <small *ngIf="f['phone'].errors?.['pattern']">رقم التليفون غير صحيح.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="profilePicture" class="form-label">
          تحميل صورة <span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-image"></i></span>
          <input type="file" id="image" formControlName="image" class="form-control" (change)="onFileChange($event)" />
        </div>
        <div *ngIf="f['image'].invalid && (f['image'].dirty && f['image'].touched || submitted)" class="text-danger">
          <small *ngIf="f['image'].errors?.['required']">الصورة مطلوبة.</small>
          <small *ngIf="f['image'].errors?.['pattern']">الرجاء تحميل صورة صالحة (PNG, JPG, JPEG).</small>
        </div>
      </div>
      <div class="d-flex">
        <button type="submit" class="btn main-btn rounded-5 ms-5 custom-button w-100">أضافة </button>
        <button routerLink="/allorganizer" class="btn main-btn rounded-5 me-5 custom-button w-100">الجميع </button>
      </div>
    </form>


  </div>
</div>